<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="shortcut icon" href="../../img/icons/quantum-computing.svg">
    <link rel="stylesheet" href="../../css/index.css">
    <title>Quantum Soft | Empresa de Desarrollo de software </title>
</head>
<body>

    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand">
                <img class="quantum__icon" src="../../img/icons/quantum-computing.svg" alt="...">
                QuantumSoft
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html#">Nosotros</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#services" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Servicios
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="./Website.html">Website</a></li>
                            <li><a class="dropdown-item" href="./Uiux.html">Diseño UX/UI</a></li>
                            <li><a class="dropdown-item" href="#">Desarrollo de software</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Equipo.html">Equipo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar__navContacto" href="../../index.html#contact">Contactanos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /NavBar -->

    <!-- Equipo -->
    <div class="website__img">
        <img src="../../img/Services/header (1).jpg" alt="">
        <div class="overlay">
            <div class="container h-100">
                <div class="row h-100 align-content-center justify-content-center text-center">
                    <div class="col-4">
                        <p>DESARROLLO DE SOFTWARE</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <p class="fw-bold text-center fs-2">DESARROLLO DE APLICACIONES MÓVILES </p>
                <p>
                    Ofrecemos un paquete completo de servicios de diseño, integración y gestión de aplicaciones.
                    Ya sea una aplicación orientada al consumidor o una solución transformadora de clase empresarial, nuestra empresa lidera todo el proceso de desarrollo de aplicaciones móviles desde la ideación y el concepto hasta la entrega, y brinda soporte continuo.
                </p>
                <br>
                <p> 
                    En promedio, los consumidores ahora pasan más de cinco horas al día en dispositivos móviles, y el tiempo dedicado a las aplicaciones ocupa la mayor parte de este tiempo.
                    Si desea llegar a una audiencia cautiva, necesitará una aplicación.
                    Después de todo, las aplicaciones pueden ayudarlo a expandir y desarrollar una mejor comprensión de su audiencia, cultivar la lealtad de los clientes, orientar su marketing, generar ingresos y diferenciarse de su competencia.
                    Muchas empresas desarrollan aplicaciones internas en el lugar de trabajo para ayudar a que sus operaciones funcionen sin problemas, una estrategia que también impulsa una marca.
                </p>
                <p class="fw-bold fs-5">Desarrollo multiplataforma</p>
                <p>
                    Reduzca los costos de desarrollo y el tiempo de lanzamiento al mercado mediante la creación de aplicaciones Flutter que se ejecutan en múltiples plataformas.
                </p>
                <p class="fw-bold fs-5">Desarrollo de aplicaciones nativas</p>
                <p>
                    Para las aplicaciones de Android centradas en el rendimiento, siempre es mejor utilizar bibliotecas nativas.
                </p>
                <p class="fw-bold fs-5">Cloud backend</p>
                <p>
                    Servicios en la nube de Google Firebase en tiempo real en todo el mundo para escalar aplicaciones.
                </p>
                <p class="fw-bold fs-5">Diseño y experiencia de usuario</p>
                <p>
                    Cree aplicaciones móviles intuitivas que mantengan a los usuarios interesados.
                </p>
                <p class="fw-bold text-center fs-2">DESARROLLO DE APLICACIONES WEB</p>
                <p>
                    El desarrollo web es el proceso de creación de sitios web y aplicaciones para Internet o para una red privada conocida como intranet.
                    El desarrollo web no se ocupa del diseño de un sitio web; más bien, se trata de la codificación y la programación que potencia la funcionalidad del sitio web, desde las páginas web estáticas más simples hasta las plataformas y aplicaciones de redes sociales, y desde los sitios web de comercio electrónico hasta los sistemas de gestión de contenido (CMS).
                    Las aplicaciones web tienen la ventaja de ser multiplataforma, y cualquier dispositivo que pueda ejecutar un navegador web y tenga una conexión a Internet puede acceder a ellas.
                    Sin la intervención de las tiendas de aplicaciones móviles, el tiempo de implementación es casi instantáneo, con un beneficio adicional que surge del hecho de que no todos los usuarios o clientes están dispuestos a instalar nuevas aplicaciones. ¡No hay problema! Bríndeles la experiencia de una aplicación móvil directamente desde su sitio web.
                    Nuestro equipo de desarrollo web trabaja codo a codo con nuestro diseñador de UX / UI para crear la mejor solución para su negocio.
                </p>
                <p class="fw-bold fs-5">
                    Tecnologias Usadas: 
                    <span class="badge bg-danger">HTML</span>
                    <span class="badge bg-info">CSS</span>
                    <span class="badge bg-warning">JAVASCRIPT</span>
                    <span class="badge bg-success">FIREBASE</span>
                    <span class="badge bg-primary">React.js</span>
                    <span class="badge bg-secondary">React Native</span>
                </p>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="text-center mt-1 mb-2">
            <small>NUESTRO</small>
            <h2>PORFOLIO</h2>
        </div>
        <div class="row">
            <div class="portfolio__card col-12 col-md-6 col-lg-4 mt-5 " data-aos="fade-right" data-aos-once="true">
                <img src="../../img/porfolio/portfolio_3.jpg" class="shadow-lg" alt="...">
            </div>
            <div class="portfolio__card col-4 mt-5 d-none d-lg-block" data-aos="zoom-in" data-aos-once="true">
                <img src="../../img/porfolio/portfolio_7.jpg" class="shadow-lg" alt="...">
            </div>
            <div class="portfolio__card col-4 mt-5 d-none d-lg-block" data-aos="zoom-in" data-aos-once="true">
                <img src="../../img/porfolio/portfolio_4.jpg" class="shadow-lg" alt="...">
            </div>
        </div>
    </div>
    <!-- /Equipo -->

    <!-- footer -->
    <footer class='footer pb-4 pt-4'>
        <div class="container">
            <div class="row text-center">
                <div class="col-12 col-lg">
                    <a href="#">Preguntas frecuentes</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Contactanos</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Terminos y condiciones</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Privacidad</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- /footer -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>