<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="shortcut icon" href="../../img/icons/quantum-computing.svg">
    <link rel="stylesheet" href="../../css/index.css">
    <title>Quantum Soft | Empresa de Desarrollo de software </title>
</head>
<body>

    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand">
                <img class="quantum__icon" src="../../img/icons/quantum-computing.svg" alt="...">
                QuantumSoft
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html#">Nosotros</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#services" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Servicios
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Website</a></li>
                            <li><a class="dropdown-item" href="./Uiux.html">Diseño UX/UI</a></li>
                            <li><a class="dropdown-item" href="./Software.html">Desarrollo de software</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Equipo.html">Equipo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar__navContacto" href="../../index.html#contact">Contactanos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /NavBar -->

    <!-- website -->
    <div class="website__img">
        <img src="../../img/Services/header (1).jpg" alt="">
        <div class="overlay">
            <div class="container h-100">
                <div class="row h-100 align-content-center justify-content-center text-center">
                    <div class="col-4">
                        <p>WEBSITE</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <p class="fw-bold text-center fs-2">DISEÑAR, DESARROLLAR, DESPLEGAR </p>
                <p class="fw-bold fs-5">Crea una página web para llegar a tus clientes.</p>
                <p>
                    Hágales saber exactamente en qué puede ayudarlos. Con el poder de Internet puede conectarse con casi todo el mundo,
                    por lo que la mejor manera es tener un sitio para promocionar productos, servicios o ideas.
                </p>
                <p class="fw-bold fs-5">El sitio web es la primera impresión para el servicio al cliente.</p>
                <p>
                    Un diseño hermoso y claro permite a los clientes saber de qué se trata el contenido.
                    Ayude a los clientes a navegar por el sitio para que puedan encontrar lo que necesitan.
                    Un buen sitio web genera una mayor confianza en su base de usuarios. 
                </p>
                <p class="fw-bold text-center fs-2">¿Cómo lo hacemos? </p>
                <p class="fw-bold fs-5">Mejores tecnologias</p>
                <p>
                    Al implementar las mejores tecnologías, 
                    creamos sitios web ligeros y ágiles para un mejor rendimiento 
                    y disponibilidad.
                </p>
                <p class="fw-bold fs-5">Diseñado para apuntar alto</p>
                <p>
                    Todos los diseños están preparados para gran escala, con servicios en la nube 
                    y bases de datos bien diseñadas que nos permiten crear sitios capaces de crecer.
                </p>
                <p class="fw-bold fs-5">UI y UX</p>
                <p>
                    Nuestro equipo combina software altamente calificado y diseñadores web para crear la mejor experiencia.
                </p>
                <p class="fw-bold fs-5">Diseño de logotipo y marca</p>
                <p>
                    Nuestro equipo de branding proporciona un conjunto de logotipos e ideas para elegir.
                </p>
                <p class="fw-bold fs-5">Búsqueda de dominios</p>
                <p>Te ayudamos a buscar y elegir el dominio ideal para tu propósito.</p>
                <p class="fw-bold fs-5">
                    Tecnologias Usadas: 
                    <span class="badge bg-danger">HTML</span>
                    <span class="badge bg-info">CSS</span>
                    <span class="badge bg-warning">JAVASCRIPT</span>
                    <span class="badge bg-success">FIREBASE</span>
                </p>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="text-center mt-1 mb-2">
            <small>NUESTRO</small>
            <h2>PORFOLIO</h2>
        </div>
        <div class="row">
            <div class="portfolio__card col-12 col-md-6 col-lg-4 mt-5 " data-aos="fade-right" data-aos-once="true">
                <img src="../../img/porfolio/portfolio_9.jpg" class="shadow-lg" alt="...">
            </div>
            <div class="portfolio__card col-4 mt-5 d-none d-lg-block" data-aos="zoom-in" data-aos-once="true">
                <img src="../../img/porfolio/portfolio_6.jpg" class="shadow-lg" alt="...">
            </div>
        </div>
    </div>
    <!-- /website -->
    
    <!-- footer -->
    <footer class='footer pb-4 pt-4'>
        <div class="container">
            <div class="row text-center">
                <div class="col-12 col-lg">
                    <a href="#">Preguntas frecuentes</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Contactanos</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Terminos y condiciones</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Privacidad</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- /footer -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>